.header {
    position: fixed;
    width: 100%;
    background-color: #F6F6F6;
    height: 56px;
    top:0;
    left:0;
    z-index: 400;
}

.header_logo {
    color:#ffffff;
    font-size: 1.5em;
}
.header_nav {
    display: flex;
    align-items: center;
    height:100%;
    padding: 0 1rem;
}

.header_nav_items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
}

.header_nav_items li {
    padding: 0 0.5rem;
}

.header_nav_items a{
    color:#ffffff;
    text-decoration: none;

}

.header_nav_items a:hover, .header_nav_items a:active{
    color:#ADABA5;

}

.spacer {
    flex: 1;
}

.login {
    margin-left: 10px;
}
