.originpoints-container {
    width: 95%;
    margin: auto;
}

.custom-input-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

#origin-input-guide {
    font-size: small;
    margin-bottom: 0;
}