.result-card {
  width: 400px;
  height: 200px;
  display: flex;
  flex: 1 1 auto;
  float: right;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
}

img {
  height: 150px;
  width: 150px;
  object-fit: contain;
}
