.fc {
    background-color: white;
    border-radius: 0;
    border-top: purple solid 5px;
    width: 100%;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1rem im !important;
    height: 90vh;
}

.fc-header-toolbar {
    margin: 5px;
}

.fc button, .fc-button, .fc-button-primary, .fc-button-active {
    border-color: white;
    border-radius: 0;
}

.fc .nowIndicator{
    background: purple;
}

.scheduleEvent {
    border-radius: 0;
    font-size: 1em;
    overflow-wrap: break-word;
    overflow: hidden;
}

@media screen and (max-width: 840px) {
    .scheduleEvent .classTime, .scheduleEvent .classDetails {
        display: none;
        visibility: hidden;
    } 
    .scheduleEvent {
        margin-top: 0;
        padding: 0;
    }
}