.search-container {
  width: 95%;
  margin: auto;
}

#dropdown-basic {
  border-radius: 0 !important;
}

#scroll-menu {
  height: auto;
  max-height: 400px;
  overflow-y: scroll;
}

#search-input-guide {
  font-size: small;
  margin-bottom: 0;
}

@media screen and (max-width: 999px) {
  .search-input-form {
    width: 100% !important;
  }

  .input-append {
    float: right !important;
  }
}