.btn {
    border-radius: 0;
}

.classElement {
    border-radius: 0;
    margin-top: 1em;
}

.profile-pic {
    border-radius: 50px;
    margin-top: 10px;
}

.profile-nav {
    margin: auto;
    text-align: center;
}

.profile-text {
    margin-top: 10px;
}